@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Inter', sans-serif;
  }
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body,
html {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
}

::selection {
  background: rgba(200, 183, 255, 0.4666666666666667);
}

.gradient-text-accent {
  background-image: linear-gradient(-60deg, #cb8bcf, #825ef5, #1ea0e8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.utterances {
  max-width: 100% !important;
}

.static-tweet blockquote {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.static-tweet-emoji {
  height: 1.2em !important;
  width: 1.2em !important;
}

/* .__next {
  min-height: 100vh;
} */

.cl-sign-in,
.cl-sign-up {
  margin-top: 2vh !important;
  box-shadow: none !important;
}

.cl-sign-in *,
.cl-sign-up * {
  @apply !rounded;
}

.cl-sign-in-button,
.cl-sign-up-button {
  @apply max-w-sm !mx-auto !bg-gray-900 hover:opacity-80;
}

.cl-component input {
  @apply max-w-sm !m-auto block;
}
.cl-field-row {
  @apply max-w-sm !m-auto block;
}

.cl-field-row label[for='firstName'],
.cl-field-row label[for='lastName'] {
  @apply !relative !left-0 !right-4;
}

.cl-component label {
  @apply !relative !left-4;
}
